In [4]:
import pandas as pd

In [ ]:
# Load our scraped data
bigfoot_df = pd.read_json('../data/raw_scraping_data.json')

print(f'There are {len(bigfoot_df)} reports')

There are 5153 reports

In [6]:
# There seem to be a ton of entries lets make sure that we aren't double counting
bigfoot_df = bigfoot_df.drop_duplicates(subset='Report Number')

print(f'There are {len(bigfoot_df)} unique reports.')

There are 5153 unique reports.

In [7]:
bigfoot_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5153 entries, 0 to 5152
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Report Number        5153 non-null   object
 1   Report Class         5153 non-null   object
 2   year                 5153 non-null   object
 3   season               5153 non-null   object
 4   month                4532 non-null   object
 5   state                5153 non-null   object
 6   county               5153 non-null   object
 7   location details     4390 non-null   object
 8   nearest town         4832 non-null   object
 9   nearest road         4457 non-null   object
 10  observed             5114 non-null   object
 11  also noticed         3451 non-null   object
 12  other witnesses      4681 non-null   object
 13  other stories        3707 non-null   object
 14  time and conditions  4670 non-null   object
 15  environment          4874 non-null   object
 16  date                 3580 non-null   object
 17  a & g references     239 non-null    object
dtypes: object(18)
memory usage: 724.8+ KB

In [8]:
bigfoot_df.head(2)

,Report Number,Report Class,year,season,month,state,county,location details,nearest town,nearest road,observed,also noticed,other witnesses,other stories,time and conditions,environment,date,a & g references
0,Report # 13038,(Class A),2004,Winter,February,Alaska,Anchorage County,Up near powerline clearings east of Potter Mar...,Anchorage / Hillside,No real roads in the area,I and two of my friends were bored one night s...,"Some tracks in the snow, and a clearing in the...",My two friends were snowmachining behind me bu...,I have not heard of any other incidents in Anc...,Middle of the night. The only light was the he...,"In the middle of the woods, in a clearing cove...",NaN,NaN
1,Report # 8792,(Class B),2003,Winter,December,Alaska,Anchorage County,"Few houses on the way, a power relay station. ...",Anchorage,Dowling,"Me and a couple of friends had been bored, whe...","We smelled of colonge and after shave, and one...","4. Me, w-man, warren and sean. We were at my h...",no,"Started at 11, ended at about 3-3:30. Weather ...","A pine forest, with a bog or swamp on the righ...",Friday night,NaN

In [9]:
bigfoot_df['Report Number'] = bigfoot_df.loc[:, 'Report Number'].apply(
  lambda x: pd.to_numeric(x.split('Report # ')[1]) if isinstance(x, str) and 'Report # ' in x else x)

bigfoot_df['Report Class'] = bigfoot_df.loc[:, 'Report Class'].apply(
    lambda x: x[6:-1].strip() if len(x) > 1 else x
)

bigfoot_df.head()

,Report Number,Report Class,year,season,month,state,county,location details,nearest town,nearest road,observed,also noticed,other witnesses,other stories,time and conditions,environment,date,a & g references
0,13038,A,2004,Winter,February,Alaska,Anchorage County,Up near powerline clearings east of Potter Mar...,Anchorage / Hillside,No real roads in the area,I and two of my friends were bored one night s...,"Some tracks in the snow, and a clearing in the...",My two friends were snowmachining behind me bu...,I have not heard of any other incidents in Anc...,Middle of the night. The only light was the he...,"In the middle of the woods, in a clearing cove...",NaN,NaN
1,8792,B,2003,Winter,December,Alaska,Anchorage County,"Few houses on the way, a power relay station. ...",Anchorage,Dowling,"Me and a couple of friends had been bored, whe...","We smelled of colonge and after shave, and one...","4. Me, w-man, warren and sean. We were at my h...",no,"Started at 11, ended at about 3-3:30. Weather ...","A pine forest, with a bog or swamp on the righ...",Friday night,NaN
2,1255,B,1998,Fall,September,Alaska,Bethel County,"45 miles by air west of Lake Iliamna, Alaska i...",NaN,NaN,My hunting buddy and I were sitting on a ridge...,nothing unusual,Scouting for caribou with high quality binoculars,NaN,NaN,Call Iliamna Air taxi for lat & Long of Long L...,3,NaN
3,11616,B,2004,Summer,July,Alaska,Bristol Bay County,"Approximately 95 miles east of Egegik, Alaska....",Egegik,NaN,"To whom it may concern, I am a commercial fish...",Just these foot prints and how obvious it was ...,"One other witness, and he was fishing prior to...","I've only heard of one other story, from an ol...","Approximately 12:30 pm, partially coudy/sunny.","Lake front,creek spit, gravel and sand, alder ...",20,NaN
4,637,A,2000,Summer,June,Alaska,Cordova-McCarthy County,"On the main trail toward the glacier, before t...","Kennikot, Alaska",not sure,My hiking partner and I arrived late to the Ke...,I did hear what appeared to be grunting in the...,"I was the only witness, there was one other in...",None,About 12:00 Midnight / full moon / clear / dim...,This sighting was located at approximately 1 t...,16,NaN

In [10]:
bigfoot_df['year'].value_counts(ascending=True)

year
1890              1
1996 or 1997      1
1995-96           1
1970-71           1
1972-73           1
               ...
2005            168
2006            173
2004            173
2000            188
2012            194
Name: count, Length: 435, dtype: int64

In [11]:
# get all entries with a standard date using regular expressions
filtered_years = bigfoot_df[bigfoot_df['year'].str.match(r'^\d{4}$', na=False)]
filtered_years.head()

,Report Number,Report Class,year,season,month,state,county,location details,nearest town,nearest road,observed,also noticed,other witnesses,other stories,time and conditions,environment,date,a & g references
0,13038,A,2004,Winter,February,Alaska,Anchorage County,Up near powerline clearings east of Potter Mar...,Anchorage / Hillside,No real roads in the area,I and two of my friends were bored one night s...,"Some tracks in the snow, and a clearing in the...",My two friends were snowmachining behind me bu...,I have not heard of any other incidents in Anc...,Middle of the night. The only light was the he...,"In the middle of the woods, in a clearing cove...",NaN,NaN
1,8792,B,2003,Winter,December,Alaska,Anchorage County,"Few houses on the way, a power relay station. ...",Anchorage,Dowling,"Me and a couple of friends had been bored, whe...","We smelled of colonge and after shave, and one...","4. Me, w-man, warren and sean. We were at my h...",no,"Started at 11, ended at about 3-3:30. Weather ...","A pine forest, with a bog or swamp on the righ...",Friday night,NaN
2,1255,B,1998,Fall,September,Alaska,Bethel County,"45 miles by air west of Lake Iliamna, Alaska i...",NaN,NaN,My hunting buddy and I were sitting on a ridge...,nothing unusual,Scouting for caribou with high quality binoculars,NaN,NaN,Call Iliamna Air taxi for lat & Long of Long L...,3,NaN
3,11616,B,2004,Summer,July,Alaska,Bristol Bay County,"Approximately 95 miles east of Egegik, Alaska....",Egegik,NaN,"To whom it may concern, I am a commercial fish...",Just these foot prints and how obvious it was ...,"One other witness, and he was fishing prior to...","I've only heard of one other story, from an ol...","Approximately 12:30 pm, partially coudy/sunny.","Lake front,creek spit, gravel and sand, alder ...",20,NaN
4,637,A,2000,Summer,June,Alaska,Cordova-McCarthy County,"On the main trail toward the glacier, before t...","Kennikot, Alaska",not sure,My hiking partner and I arrived late to the Ke...,I did hear what appeared to be grunting in the...,"I was the only witness, there was one other in...",None,About 12:00 Midnight / full moon / clear / dim...,This sighting was located at approximately 1 t...,16,NaN

In [12]:
filtered_years['year'].value_counts()

year
2012    194
2000    188
2004    173
2006    173
2005    168
       ...
1945      1
1926      1
1940      1
1870      1
1890      1
Name: count, Length: 93, dtype: int64

In [13]:
filtered_years.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4777 entries, 0 to 5152
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Report Number        4777 non-null   int64
 1   Report Class         4777 non-null   object
 2   year                 4777 non-null   object
 3   season               4777 non-null   object
 4   month                4315 non-null   object
 5   state                4777 non-null   object
 6   county               4777 non-null   object
 7   location details     4067 non-null   object
 8   nearest town         4482 non-null   object
 9   nearest road         4141 non-null   object
 10  observed             4742 non-null   object
 11  also noticed         3191 non-null   object
 12  other witnesses      4337 non-null   object
 13  other stories        3434 non-null   object
 14  time and conditions  4327 non-null   object
 15  environment          4513 non-null   object
 16  date                 3403 non-null   object
 17  a & g references     231 non-null    object
dtypes: int64(1), object(17)
memory usage: 709.1+ KB

In [14]:
filtered_years.groupby(['state','county']).count()['Report Number']

state    county
Alabama  Autauga County       1
         Baldwin County       2
         Barbour County       1
         Bibb County          1
         Blount County        4
                             ..
Wyoming  Sublette County      1
         Sweetwater County    1
         Teton County         2
         Uinta County         2
         Washakie County      1
Name: Report Number, Length: 1502, dtype: int64

In [15]:
filtered_years.groupby('state').count()['Report Number']

state
Alabama            91
Alaska             18
Arizona            77
Arkansas           98
California        398
Colorado          121
Connecticut        23
Delaware            4
Florida           277
Georgia           122
Idaho              94
Illinois          226
Indiana            75
Iowa               57
Kansas             45
Kentucky          101
Louisiana          33
Maine              16
Maryland           28
Massachusetts      27
Michigan          191
Minnesota          71
Mississippi        22
Missouri          153
Montana            49
Nebraska           17
Nevada              7
New Hampshire      11
New Jersey         69
New Mexico         42
New York           99
North Carolina     84
North Dakota        4
Ohio              282
Oklahoma           97
Oregon            231
Pennsylvania      102
Rhode Island        5
South Carolina     42
South Dakota       13
Tennessee          88
Texas             222
Utah               56
Vermont             9
Virginia           82
Washington        593
West Virginia      93
Wisconsin          86
Wyoming            26
Name: Report Number, dtype: int64

In [ ]:
filtered_years.to_json('../data/filtered_years_clean.json', orient='records')